:root{
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;
    --primarioPrincipal: #281B76;
--primarioSecundario: #5B4DD9;
    --dramaPrincipal: #5C162E;
    --dramaSecundario: #7C162E;
    --clasicoPrincipal: #3E4047;
    --clasicoSecundario: #9C988B;
    --accionPrincipal: #870000;
    --accionSecundario: #0000FF;
    --terrorPrincipal: #CC1A1A;
    --terrorSecundario: #38602F;
    --blanco: #ffffff;
    --negro: #000000;
}
html {
    box-sizing: border-box;
    font-family: "inter", sans-serif;
}
*,
*::before,
*:after{
    box-sizing: inherit;
}
/* Globales */
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
h1, h2, h3, h4 {
    line-height: 1.2;
}
h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 1.875rem;
}
.contenedor{
    width: 100%;
    margin: 0 auto;
}
/* Utilidades */
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.centrar-texto{
    text-align: center;
}
body{
    background-color: var(--primarioSecundario);
}
.header{
    height: 15.625rem;
    background-color: var(--primarioPrincipal);
}
body .accion{
    background-color: var(--accionPrincipal);
}
.accion{
    background-color: var(--accionSecundario);
}
body .clasicos{
    background-color: var(--clasicoPrincipal);
}

.clasicos{
    background-color: var(--clasicoSecundario);
}
body .drama{
    background-color: var(--dramaPrincipal);
}
.drama{
    background-color: var(--dramaSecundario);
}
body .terror{
    background-color: var(--terrorPrincipal);
}
.terror{
    background-color: var(--terrorSecundario);
}
.header__texto {
    text-align: center;
    color: var(--blanco);
    margin-top: 15rem;
}
.barra{
    padding: 2.5rem;
}

.logo{
    display: flex;
    align-items: center;
    margin-left: 29%;
    color: var(--blanco);

}
.logo__nombre{
    font-weight: 400;
}
.navegacion{
    display: flex;
    gap: 13%;
    margin-top: 2.5rem;
    align-items: center;
}
.navegacion__enlace{
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
    margin-left: 3rem;
}

.navegacion__enlace:hover{
    color: var(--clasicoSecundario);
}

.contenido-principal{
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 4rem;
}
/* Main */
.textomain{
    color: var(--blanco);
}
.zonaCuadros{
    margin-left: 12rem;
    justify-content: center;
    align-items: center;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 80%;
    max-width: 1200px;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
/*     height: 260rem; */
    overflow: hidden;
}
.content img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.grid-item {
    width: 18.75rem;
    height: 18.75rem;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.title {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}


/* footer */
.footer{
    background-color: var(--primarioPrincipal);
    margin-top: 3rem;
    height: 200px;
}
.estrenof{
    background-color: var(--primarioPrincipal);
}
.accionf{
    background-color: var(--accionPrincipal);
}
.terrorf{
    background-color: var(--terrorPrincipal);
}
.dramaf{
    background-color: var(--dramaPrincipal);
}
.clasicosf{
    background-color: var(--clasicoPrincipal);
}
.footer .barra{
    padding: 0;
    padding-top: 30px;
}
.footer h4, p{
    color: var(--blanco);
    text-align: center;
}